<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method = "post" action="/predict" >
        <input type="number", name="Pregnancy", placeholder="Pregnancy", required="required">
        <input type="number", name="Plasma", placeholder="Plasma", required="required">
        <input type="number", name="Bp", placeholder="Bp", required="required">
        <input type="number", name="skin", placeholder="skin", required="required">
        <input type="number", name="Test", placeholder="Test", required="required">
        <input type="number", name="Mass", placeholder="Mass", required="required">
        <input type="number", name="pedi", placeholder="pedi", required="required">
        <input type="number", name="age", placeholder="age", required="required">
        <button>submit</button>
    </form>
</body>
</html>